---
layout: none
---

<!DOCTYPE html>
<html lang="{{ site.locale | default: 'en' }}" class="no-js">
  <head>
    {% include head.html %}
    {% if page.math %}
    {% include head/_mathjax_support.html %}
    {% endif %}
  </head>

  <body class="{{ layout.body_class }}">

    {% include skip-links.html %}
    {% include masthead.html %}

    <div class="initial-content">
      {{ content }}
    </div>

    {% include footer.html %}

    <script src="/assets/js/auto-theme.js"></script>

    {% include scripts.html %}
  </body>
</html>
